/* All elements */
* {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    transition: none;
}

#logo {
    height: 40px;
    width: auto;
}

/* Body */
body {
    min-height: 800px;
}

/* Body dark mode */
body.dark-mode {
    background-color: #212529 !important;
}

/* Footer */
footer {
    background-color: #212529;
    color: white;
    text-align: left;
    bottom: 0;
    position: relative;
    width: 100%;
    min-height: 400px;
    box-sizing: border-box;
    padding: 20px 0px;
}

footer #link {
    width: 70%;
    text-align: left;
    margin: auto;
}

footer #link h2 {
    margin: 20px 0px;
}

footer #link a {
    display: block;
    text-decoration: none;
    color: white;
    text-decoration-line: none;
    text-decoration-style: solid;
    padding: 10px 0;
    width: fit-content;
}

footer #link a:hover {
    color: #ffc107;
}

#footerContainer {
    margin-bottom: 50px;
    width: 70%;
}

/* Footer dark mode */
.dark-mode footer {
    background-color: #2B3139 !important;
}

.dark-mode footer #link a:hover {
    display: block;
    text-decoration: none;
    color: #ffc107;
    text-decoration-line: none;
    text-decoration-style: solid;
    padding: 10px 0;
    width: fit-content;
}

/* To top button */
#toTop {
    text-align: center;
}

#toTop a {
    padding: 10px;
    width: 100%;
    text-decoration: none;
    color: white;
}

#toTop a:hover {
    border-radius: 10px;
    background-color: #282a2c;
    color: #ffc107;
}

/* #member {}

#policy {}

#payment {} */

#copyright {
    bottom: 20px;
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 30px;
}