<!-- Footer -->
<footer>
    <!-- <div id="toTop">
        <a href="#">Back to top</a>
    </div> -->
    <div class="container-fluid" id="footerContainer">
        <div class="row">
            <div class="col-6 col-md-6 col-xl-4" id="member">
                <div id="link">
                    <h2>Members</h2>
                    <a href="#">Tong Thien Phuoc</a>
                    <a href="#">Ho Minh Kha</a>
                    <a href="#">Phan Xuan Hung</a>
                    <a href="#">Pham Le Quang Minh</a>
                </div>
            </div>
            <div class="col-6 col-md-6 col-xl-4" id="payment">
                <div id="link">
                    <h2>Payment</h2>
                    <a href="#">Visa</a>
                    <a href="#">Mastercard</a>
                    <a href="#">Paypal</a>
                </div>
            </div>
            <div class="col-6 col-md-6 col-xl-4" id="policy">
                <div id="link">
                    <h2>Policy</h2>
                    <a href="#">Shipping policies</a>
                    <a href="#">Terms of use</a>
                    <a href="#">Helps</a>
                </div>
            </div>

        </div>
    </div>
    <div id="copyright">
        @2024 by B1nance group
    </div>
</footer>

<!-- Optional JavaScript; choose one of the two! -->
<script src="/js/navbar.js"></script>
<script src="/js/darkmode.js"></script>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    -->
</body>

</html>